WebService/WSDL/LibraryBook.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/" name="LibraryBook">
<types>
<xsd:schema>
<xsd:import namespace="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/" schemaLocation="http://orbismundi:8080/SysForTheque-WebService6056151886278824915/LibraryBook?xsd=1"/>
</xsd:schema>
</types>
<message name="getBookBeanListByIdList">
<part name="parameters" element="tns:getBookBeanListByIdList"/>
</message>
<message name="getBookBeanListByIdListResponse">
<part name="parameters" element="tns:getBookBeanListByIdListResponse"/>
</message>
<message name="getBookListByGenreList">
<part name="parameters" element="tns:getBookListByGenreList"/>
</message>
<message name="getBookListByGenreListResponse">
<part name="parameters" element="tns:getBookListByGenreListResponse"/>
</message>
<message name="getBookListByTitle">
<part name="parameters" element="tns:getBookListByTitle"/>
</message>
<message name="getBookListByTitleResponse">
<part name="parameters" element="tns:getBookListByTitleResponse"/>
</message>
<message name="getLibraryBookBeanListByIdList">
<part name="parameters" element="tns:getLibraryBookBeanListByIdList"/>
</message>
<message name="getLibraryBookBeanListByIdListResponse">
<part name="parameters" element="tns:getLibraryBookBeanListByIdListResponse"/>
</message>
<portType name="LibraryBookServiceImpl">
<operation name="getBookBeanListByIdList">
<input wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookServiceImpl/getBookBeanListByIdListRequest" message="tns:getBookBeanListByIdList"/>
<output wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookServiceImpl/getBookBeanListByIdListResponse" message="tns:getBookBeanListByIdListResponse"/>
</operation>
<operation name="getBookListByGenreList">
<input wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookServiceImpl/getBookListByGenreListRequest" message="tns:getBookListByGenreList"/>
<output wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookServiceImpl/getBookListByGenreListResponse" message="tns:getBookListByGenreListResponse"/>
</operation>
<operation name="getBookListByTitle">
<input wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookServiceImpl/getBookListByTitleRequest" message="tns:getBookListByTitle"/>
<output wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookServiceImpl/getBookListByTitleResponse" message="tns:getBookListByTitleResponse"/>
</operation>
<operation name="getLibraryBookBeanListByIdList">
<input wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookServiceImpl/getLibraryBookBeanListByIdListRequest" message="tns:getLibraryBookBeanListByIdList"/>
<output wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookServiceImpl/getLibraryBookBeanListByIdListResponse" message="tns:getLibraryBookBeanListByIdListResponse"/>
</operation>
</portType>
<binding name="LibraryBookServiceImplPortBinding" type="tns:LibraryBookServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getBookBeanListByIdList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookListByGenreList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookListByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLibraryBookBeanListByIdList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LibraryBook">
<port name="LibraryBookServiceImplPort" binding="tns:LibraryBookServiceImplPortBinding">
<soap:address location="http://orbismundi:8080/SysForTheque-WebService6056151886278824915/LibraryBook"/>
</port>
</service>
</definitions>