WebService/WSDL/LibraryBookBorrowing.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/" name="LibraryBookBorrowing">
<types>
<xsd:schema>
<xsd:import namespace="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/" schemaLocation="http://orbismundi:8080/SysForTheque-WebService6056151886278824915/LibraryBookBorrowing?xsd=1"/>
</xsd:schema>
</types>
<message name="borrowLibraryBook">
<part name="parameters" element="tns:borrowLibraryBook"/>
</message>
<message name="borrowLibraryBookResponse">
<part name="parameters" element="tns:borrowLibraryBookResponse"/>
</message>
<message name="extendLibraryBookBorrowingPeriod">
<part name="parameters" element="tns:extendLibraryBookBorrowingPeriod"/>
</message>
<message name="extendLibraryBookBorrowingPeriodResponse">
<part name="parameters" element="tns:extendLibraryBookBorrowingPeriodResponse"/>
</message>
<message name="getUserBorrowedBookListOfUser">
<part name="parameters" element="tns:getUserBorrowedBookListOfUser"/>
</message>
<message name="getUserBorrowedBookListOfUserResponse">
<part name="parameters" element="tns:getUserBorrowedBookListOfUserResponse"/>
</message>
<message name="getExtendedUserBorrowedBookList">
<part name="parameters" element="tns:getExtendedUserBorrowedBookList"/>
</message>
<message name="getExtendedUserBorrowedBookListResponse">
<part name="parameters" element="tns:getExtendedUserBorrowedBookListResponse"/>
</message>
<message name="returnLibraryBook">
<part name="parameters" element="tns:returnLibraryBook"/>
</message>
<message name="returnLibraryBookResponse">
<part name="parameters" element="tns:returnLibraryBookResponse"/>
</message>
<message name="setBorrowingPeriod">
<part name="parameters" element="tns:setBorrowingPeriod"/>
</message>
<message name="setBorrowingPeriodResponse">
<part name="parameters" element="tns:setBorrowingPeriodResponse"/>
</message>
<message name="getCurrentlyBorrowedUserBorrowedBookList">
<part name="parameters" element="tns:getCurrentlyBorrowedUserBorrowedBookList"/>
</message>
<message name="getCurrentlyBorrowedUserBorrowedBookListResponse">
<part name="parameters" element="tns:getCurrentlyBorrowedUserBorrowedBookListResponse"/>
</message>
<message name="getNotReturnedUserBorrowedBookList">
<part name="parameters" element="tns:getNotReturnedUserBorrowedBookList"/>
</message>
<message name="getNotReturnedUserBorrowedBookListResponse">
<part name="parameters" element="tns:getNotReturnedUserBorrowedBookListResponse"/>
</message>
<portType name="LibraryBookBorrowingServiceImpl">
<operation name="borrowLibraryBook">
<input wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/borrowLibraryBookRequest" message="tns:borrowLibraryBook"/>
<output wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/borrowLibraryBookResponse" message="tns:borrowLibraryBookResponse"/>
</operation>
<operation name="extendLibraryBookBorrowingPeriod">
<input wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/extendLibraryBookBorrowingPeriodRequest" message="tns:extendLibraryBookBorrowingPeriod"/>
<output wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/extendLibraryBookBorrowingPeriodResponse" message="tns:extendLibraryBookBorrowingPeriodResponse"/>
</operation>
<operation name="getUserBorrowedBookListOfUser">
<input wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/getUserBorrowedBookListOfUserRequest" message="tns:getUserBorrowedBookListOfUser"/>
<output wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/getUserBorrowedBookListOfUserResponse" message="tns:getUserBorrowedBookListOfUserResponse"/>
</operation>
<operation name="getExtendedUserBorrowedBookList">
<input wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/getExtendedUserBorrowedBookListRequest" message="tns:getExtendedUserBorrowedBookList"/>
<output wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/getExtendedUserBorrowedBookListResponse" message="tns:getExtendedUserBorrowedBookListResponse"/>
</operation>
<operation name="returnLibraryBook">
<input wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/returnLibraryBookRequest" message="tns:returnLibraryBook"/>
<output wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/returnLibraryBookResponse" message="tns:returnLibraryBookResponse"/>
</operation>
<operation name="setBorrowingPeriod">
<input wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/setBorrowingPeriodRequest" message="tns:setBorrowingPeriod"/>
<output wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/setBorrowingPeriodResponse" message="tns:setBorrowingPeriodResponse"/>
</operation>
<operation name="getCurrentlyBorrowedUserBorrowedBookList">
<input wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/getCurrentlyBorrowedUserBorrowedBookListRequest" message="tns:getCurrentlyBorrowedUserBorrowedBookList"/>
<output wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/getCurrentlyBorrowedUserBorrowedBookListResponse" message="tns:getCurrentlyBorrowedUserBorrowedBookListResponse"/>
</operation>
<operation name="getNotReturnedUserBorrowedBookList">
<input wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/getNotReturnedUserBorrowedBookListRequest" message="tns:getNotReturnedUserBorrowedBookList"/>
<output wsam:Action="http://Library.impl.webservice.webservice.sysfortheque.silvharm.fr/LibraryBookBorrowingServiceImpl/getNotReturnedUserBorrowedBookListResponse" message="tns:getNotReturnedUserBorrowedBookListResponse"/>
</operation>
</portType>
<binding name="LibraryBookBorrowingServiceImplPortBinding" type="tns:LibraryBookBorrowingServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="borrowLibraryBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="extendLibraryBookBorrowingPeriod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserBorrowedBookListOfUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExtendedUserBorrowedBookList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnLibraryBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setBorrowingPeriod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentlyBorrowedUserBorrowedBookList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNotReturnedUserBorrowedBookList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LibraryBookBorrowing">
<port name="LibraryBookBorrowingServiceImplPort" binding="tns:LibraryBookBorrowingServiceImplPortBinding">
<soap:address location="http://orbismundi:8080/SysForTheque-WebService6056151886278824915/LibraryBookBorrowing"/>
</port>
</service>
</definitions>